In [2]:
import pandas as pd
import pulp
import re

In [3]:
salary_cap = 194
roster_spots = {'QB':2
                ,'WR':4
                ,'TE':2
                ,'RB':2
                ,'KR':1
                ,'DE':1
                }

In [6]:
league_df = pd.read_csv('data.csv')

#Get position
league_df['position'] = league_df['Converted'].str[:2]

#Add in variable dictionary
league_df['variable'] = league_df['position'] + '_' + league_df['Converted']

league_df.head()

,Converted,Points,Exp_Cost,23_Cost,Max_Cost,Player,position,variable
0,QB01,461.60,50,51,51,Jalen Hurts,QB,QB_QB01
1,QB02,436.63,47,50,50,Josh Allen,QB,QB_QB02
2,QB03,413.86,44,49,49,Lamar Jackson,QB,QB_QB03
3,QB04,391.19,41,48,48,Patrick Mahomes,QB,QB_QB04
4,QB05,366.90,34,37,37,Anthony Richardson,QB,QB_QB05

In [5]:
salaries = {}
points = {}
for pos in league_df['position'].unique():
    available_pos = league_df[league_df['position']==pos]
    salary = list(available_pos[['Converted','Exp_Cost']].set_index('Converted').to_dict().values())[0]
    point = list(available_pos[['Converted','Points']].set_index('Converted').to_dict().values())[0]
    salaries[pos] = salary
    points[pos] = point

In [6]:
for k,v in points.items():
    x = pulp.LpVariable.dict(k,v)
    print(k,v)

QB {'QB01': 461.6, 'QB02': 436.63, 'QB03': 413.86, 'QB04': 391.19, 'QB05': 366.9, 'QB06': 353.81, 'QB07': 343.0, 'QB08': 336.59, 'QB09': 330.22, 'QB10': 325.05, 'QB11': 319.57, 'QB12': 311.24, 'QB13': 285.0, 'QB14': 277.68, 'QB15': 273.76, 'QB16': 266.73, 'QB17': 257.39, 'QB18': 250.19, 'QB19': 243.24, 'QB20': 228.85, 'QB21': 219.43, 'QB22': 208.71, 'QB23': 196.58, 'QB24': 191.69, 'QB25': 187.89, 'QB26': 180.07, 'QB27': 173.61, 'QB28': 163.08, 'QB29': 149.53, 'QB30': 139.15, 'QB31': 130.17, 'QB32': 124.87, 'QB33': 115.87, 'QB34': 102.87, 'QB35': 95.46}
WR {'WR01': 316.13, 'WR02': 287.29, 'WR03': 260.47, 'WR04': 243.17, 'WR05': 235.93, 'WR06': 212.87, 'WR07': 210.07, 'WR08': 198.87, 'WR09': 194.83, 'WR10': 190.3, 'WR11': 185.89, 'WR12': 180.33, 'WR13': 177.27, 'WR14': 174.37, 'WR15': 171.23, 'WR16': 168.87, 'WR17': 165.27, 'WR18': 162.0, 'WR19': 160.7, 'WR20': 158.07, 'WR21': 156.93, 'WR22': 155.13, 'WR23': 151.23, 'WR24': 147.33, 'WR25': 145.5, 'WR26': 141.63, 'WR27': 137.3, 'WR28': 136.04, 'WR29': 133.53, 'WR30': 130.03, 'WR31': 127.37, 'WR32': 126.51, 'WR33': 124.03, 'WR34': 123.03, 'WR35': 121.04, 'WR36': 119.53, 'WR37': 117.43, 'WR38': 116.5, 'WR39': 114.73, 'WR40': 110.4, 'WR41': 109.33, 'WR42': 107.33, 'WR43': 103.33, 'WR44': 103.1, 'WR45': 101.82, 'WR46': 99.55, 'WR47': 98.13, 'WR48': 94.97, 'WR49': 92.5, 'WR50': 89.43, 'WR51': 88.77, 'WR52': 86.07, 'WR53': 83.27, 'WR54': 82.5, 'WR55': 81.07, 'WR56': 80.49, 'WR57': 79.13, 'WR58': 77.63, 'WR59': 76.6, 'WR60': 75.87, 'WR61': 75.23, 'WR62': 74.3, 'WR63': 73.2, 'WR64': 71.97, 'WR65': 68.63, 'WR66': 68.1, 'WR67': 66.77, 'WR68': 65.4, 'WR69': 63.9, 'WR70': 63.17, 'WR71': 62.8, 'WR72': 62.4, 'WR73': 61.83, 'WR74': 60.4, 'WR75': 59.83, 'WR76': 58.97, 'WR77': 58.17, 'WR78': 56.6, 'WR79': 56.0, 'WR80': 55.23, 'WR81': 54.77, 'WR82': 54.17, 'WR83': 52.8, 'WR84': 51.6, 'WR85': 50.1, 'WR86': 49.03, 'WR87': 48.7, 'WR88': 48.37, 'WR89': 47.63, 'WR90': 46.53, 'WR91': 46.2, 'WR92': 45.32, 'WR93': 44.67, 'WR94': 44.07, 'WR95': 43.33, 'WR96': 42.6, 'WR97': 42.0}
TE {'TE01': 205.23, 'TE02': 163.83, 'TE03': 139.93, 'TE04': 132.14, 'TE05': 124.7, 'TE06': 114.8, 'TE07': 109.97, 'TE08': 106.11, 'TE09': 105.17, 'TE10': 101.87, 'TE11': 94.9, 'TE12': 89.13, 'TE13': 83.17, 'TE14': 81.97, 'TE15': 78.77, 'TE16': 76.7, 'TE17': 74.87, 'TE18': 72.13, 'TE19': 69.8, 'TE20': 67.87, 'TE21': 65.03, 'TE22': 61.83, 'TE23': 58.6, 'TE24': 56.8, 'TE25': 55.6, 'TE26': 54.1, 'TE27': 51.33, 'TE28': 45.53, 'TE29': 43.17, 'TE30': 40.93, 'TE31': 39.83, 'TE32': 38.63, 'TE33': 37.33, 'TE34': 36.93, 'TE35': 31.93}
RB {'RB01': 359.4, 'RB02': 279.7, 'RB03': 270.0, 'RB04': 258.92, 'RB05': 246.8, 'RB06': 232.4, 'RB07': 222.97, 'RB08': 219.62, 'RB09': 211.5, 'RB10': 208.27, 'RB11': 205.87, 'RB12': 199.43, 'RB13': 196.43, 'RB14': 190.63, 'RB15': 187.5, 'RB16': 184.07, 'RB17': 177.3, 'RB18': 173.07, 'RB19': 169.2, 'RB20': 166.97, 'RB21': 164.0, 'RB22': 160.63, 'RB23': 157.37, 'RB24': 153.5, 'RB25': 151.5, 'RB26': 147.57, 'RB27': 145.65, 'RB28': 143.67, 'RB29': 141.1, 'RB30': 137.83, 'RB31': 134.53, 'RB32': 129.0, 'RB33': 124.17, 'RB34': 121.17, 'RB35': 116.8, 'RB36': 110.27, 'RB37': 108.4, 'RB38': 105.83, 'RB39': 101.5, 'RB40': 98.17, 'RB41': 95.77, 'RB42': 89.03, 'RB43': 87.4, 'RB44': 86.07, 'RB45': 84.17, 'RB46': 82.23, 'RB47': 81.07, 'RB48': 77.53, 'RB49': 76.53, 'RB50': 73.37, 'RB51': 72.43, 'RB52': 72.0, 'RB53': 71.39, 'RB54': 69.6, 'RB55': 66.33, 'RB56': 63.77, 'RB57': 61.92, 'RB58': 59.7, 'RB59': 57.5, 'RB60': 56.27, 'RB61': 52.23, 'RB62': 51.1, 'RB63': 47.03, 'RB64': 44.53, 'RB65': 43.33, 'RB66': 42.37, 'RB67': 41.43}
KR {'KR01': 173.0, 'KR02': 164.33, 'KR03': 160.33, 'KR04': 159.67, 'KR05': 156.0, 'KR06': 152.67, 'KR07': 151.0, 'KR08': 149.33, 'KR09': 147.33, 'KR10': 145.33, 'KR11': 142.67, 'KR12': 141.33}
DE {'DE01': 187.33, 'DE02': 165.33, 'DE03': 153.0, 'DE04': 149.0, 'DE05': 142.67, 'DE06': 141.67, 'DE07': 138.0, 'DE08': 133.67, 'DE09': 130.33, 'DE10': 128.67, 'DE11': 126.33, 'DE12': 124.0}

In [7]:
_vars = {k: pulp.LpVariable.dict(k, v, cat="Binary") for k, v in points.items()}

In [8]:
_vars

{'QB': {'QB01': QB_QB01,
  'QB02': QB_QB02,
  'QB03': QB_QB03,
  'QB04': QB_QB04,
  'QB05': QB_QB05,
  'QB06': QB_QB06,
  'QB07': QB_QB07,
  'QB08': QB_QB08,
  'QB09': QB_QB09,
  'QB10': QB_QB10,
  'QB11': QB_QB11,
  'QB12': QB_QB12,
  'QB13': QB_QB13,
  'QB14': QB_QB14,
  'QB15': QB_QB15,
  'QB16': QB_QB16,
  'QB17': QB_QB17,
  'QB18': QB_QB18,
  'QB19': QB_QB19,
  'QB20': QB_QB20,
  'QB21': QB_QB21,
  'QB22': QB_QB22,
  'QB23': QB_QB23,
  'QB24': QB_QB24,
  'QB25': QB_QB25,
  'QB26': QB_QB26,
  'QB27': QB_QB27,
  'QB28': QB_QB28,
  'QB29': QB_QB29,
  'QB30': QB_QB30,
  'QB31': QB_QB31,
  'QB32': QB_QB32,
  'QB33': QB_QB33,
  'QB34': QB_QB34,
  'QB35': QB_QB35},
 'WR': {'WR01': WR_WR01,
  'WR02': WR_WR02,
  'WR03': WR_WR03,
  'WR04': WR_WR04,
  'WR05': WR_WR05,
  'WR06': WR_WR06,
  'WR07': WR_WR07,
  'WR08': WR_WR08,
  'WR09': WR_WR09,
  'WR10': WR_WR10,
  'WR11': WR_WR11,
  'WR12': WR_WR12,
  'WR13': WR_WR13,
  'WR14': WR_WR14,
  'WR15': WR_WR15,
  'WR16': WR_WR16,
  'WR17': WR_WR17,
  'WR18': WR_WR18,
  'WR19': WR_WR19,
  'WR20': WR_WR20,
  'WR21': WR_WR21,
  'WR22': WR_WR22,
  'WR23': WR_WR23,
  'WR24': WR_WR24,
  'WR25': WR_WR25,
  'WR26': WR_WR26,
  'WR27': WR_WR27,
  'WR28': WR_WR28,
  'WR29': WR_WR29,
  'WR30': WR_WR30,
  'WR31': WR_WR31,
  'WR32': WR_WR32,
  'WR33': WR_WR33,
  'WR34': WR_WR34,
  'WR35': WR_WR35,
  'WR36': WR_WR36,
  'WR37': WR_WR37,
  'WR38': WR_WR38,
  'WR39': WR_WR39,
  'WR40': WR_WR40,
  'WR41': WR_WR41,
  'WR42': WR_WR42,
  'WR43': WR_WR43,
  'WR44': WR_WR44,
  'WR45': WR_WR45,
  'WR46': WR_WR46,
  'WR47': WR_WR47,
  'WR48': WR_WR48,
  'WR49': WR_WR49,
  'WR50': WR_WR50,
  'WR51': WR_WR51,
  'WR52': WR_WR52,
  'WR53': WR_WR53,
  'WR54': WR_WR54,
  'WR55': WR_WR55,
  'WR56': WR_WR56,
  'WR57': WR_WR57,
  'WR58': WR_WR58,
  'WR59': WR_WR59,
  'WR60': WR_WR60,
  'WR61': WR_WR61,
  'WR62': WR_WR62,
  'WR63': WR_WR63,
  'WR64': WR_WR64,
  'WR65': WR_WR65,
  'WR66': WR_WR66,
  'WR67': WR_WR67,
  'WR68': WR_WR68,
  'WR69': WR_WR69,
  'WR70': WR_WR70,
  'WR71': WR_WR71,
  'WR72': WR_WR72,
  'WR73': WR_WR73,
  'WR74': WR_WR74,
  'WR75': WR_WR75,
  'WR76': WR_WR76,
  'WR77': WR_WR77,
  'WR78': WR_WR78,
  'WR79': WR_WR79,
  'WR80': WR_WR80,
  'WR81': WR_WR81,
  'WR82': WR_WR82,
  'WR83': WR_WR83,
  'WR84': WR_WR84,
  'WR85': WR_WR85,
  'WR86': WR_WR86,
  'WR87': WR_WR87,
  'WR88': WR_WR88,
  'WR89': WR_WR89,
  'WR90': WR_WR90,
  'WR91': WR_WR91,
  'WR92': WR_WR92,
  'WR93': WR_WR93,
  'WR94': WR_WR94,
  'WR95': WR_WR95,
  'WR96': WR_WR96,
  'WR97': WR_WR97},
 'TE': {'TE01': TE_TE01,
  'TE02': TE_TE02,
  'TE03': TE_TE03,
  'TE04': TE_TE04,
  'TE05': TE_TE05,
  'TE06': TE_TE06,
  'TE07': TE_TE07,
  'TE08': TE_TE08,
  'TE09': TE_TE09,
  'TE10': TE_TE10,
  'TE11': TE_TE11,
  'TE12': TE_TE12,
  'TE13': TE_TE13,
  'TE14': TE_TE14,
  'TE15': TE_TE15,
  'TE16': TE_TE16,
  'TE17': TE_TE17,
  'TE18': TE_TE18,
  'TE19': TE_TE19,
  'TE20': TE_TE20,
  'TE21': TE_TE21,
  'TE22': TE_TE22,
  'TE23': TE_TE23,
  'TE24': TE_TE24,
  'TE25': TE_TE25,
  'TE26': TE_TE26,
  'TE27': TE_TE27,
  'TE28': TE_TE28,
  'TE29': TE_TE29,
  'TE30': TE_TE30,
  'TE31': TE_TE31,
  'TE32': TE_TE32,
  'TE33': TE_TE33,
  'TE34': TE_TE34,
  'TE35': TE_TE35},
 'RB': {'RB01': RB_RB01,
  'RB02': RB_RB02,
  'RB03': RB_RB03,
  'RB04': RB_RB04,
  'RB05': RB_RB05,
  'RB06': RB_RB06,
  'RB07': RB_RB07,
  'RB08': RB_RB08,
  'RB09': RB_RB09,
  'RB10': RB_RB10,
  'RB11': RB_RB11,
  'RB12': RB_RB12,
  'RB13': RB_RB13,
  'RB14': RB_RB14,
  'RB15': RB_RB15,
  'RB16': RB_RB16,
  'RB17': RB_RB17,
  'RB18': RB_RB18,
  'RB19': RB_RB19,
  'RB20': RB_RB20,
  'RB21': RB_RB21,
  'RB22': RB_RB22,
  'RB23': RB_RB23,
  'RB24': RB_RB24,
  'RB25': RB_RB25,
  'RB26': RB_RB26,
  'RB27': RB_RB27,
  'RB28': RB_RB28,
  'RB29': RB_RB29,
  'RB30': RB_RB30,
  'RB31': RB_RB31,
  'RB32': RB_RB32,
  'RB33': RB_RB33,
  'RB34': RB_RB34,
  'RB35': RB_RB35,
  'RB36': RB_RB36,
  'RB37': RB_RB37,
  'RB38': RB_RB38,
  'RB39': RB_RB39,
  'RB40': RB_RB40,
  'RB41': RB_RB41,
  'RB42': RB_RB42,
  'RB43': RB_RB43,
  'RB44': RB_RB44,
  'RB45': RB_RB45,
  'RB46': RB_RB46,
  'RB47': RB_RB47,
  'RB48': RB_RB48,
  'RB49': RB_RB49,
  'RB50': RB_RB50,
  'RB51': RB_RB51,
  'RB52': RB_RB52,
  'RB53': RB_RB53,
  'RB54': RB_RB54,
  'RB55': RB_RB55,
  'RB56': RB_RB56,
  'RB57': RB_RB57,
  'RB58': RB_RB58,
  'RB59': RB_RB59,
  'RB60': RB_RB60,
  'RB61': RB_RB61,
  'RB62': RB_RB62,
  'RB63': RB_RB63,
  'RB64': RB_RB64,
  'RB65': RB_RB65,
  'RB66': RB_RB66,
  'RB67': RB_RB67},
 'KR': {'KR01': KR_KR01,
  'KR02': KR_KR02,
  'KR03': KR_KR03,
  'KR04': KR_KR04,
  'KR05': KR_KR05,
  'KR06': KR_KR06,
  'KR07': KR_KR07,
  'KR08': KR_KR08,
  'KR09': KR_KR09,
  'KR10': KR_KR10,
  'KR11': KR_KR11,
  'KR12': KR_KR12},
 'DE': {'DE01': DE_DE01,
  'DE02': DE_DE02,
  'DE03': DE_DE03,
  'DE04': DE_DE04,
  'DE05': DE_DE05,
  'DE06': DE_DE06,
  'DE07': DE_DE07,
  'DE08': DE_DE08,
  'DE09': DE_DE09,
  'DE10': DE_DE10,
  'DE11': DE_DE11,
  'DE12': DE_DE12}}

In [9]:
prob = pulp.LpProblem("Fantasy", pulp.LpMaximize)
rewards = []
costs = []
position_constraints = []
# Setting up the reward
for k, v in _vars.items():
    costs += pulp.lpSum([salaries[k][i] * _vars[k][i] for i in v])
    rewards += pulp.lpSum([points[k][i] * _vars[k][i] for i in v])
    prob += pulp.lpSum([_vars[k][i] for i in v]) <= roster_spots[k]
    
prob += pulp.lpSum(rewards)
prob += pulp.lpSum(costs) <= salary_cap

In [10]:
prob.solve()

1

In [11]:
def summary(prob):
    div = '---------------------------------------\n'
    print("Variables:\n")
    score = str(prob.objective)
    constraints = [str(const) for const in prob.constraints.values()]
    for v in prob.variables():
        score = score.replace(v.name, str(v.varValue))
        constraints = [const.replace(v.name, str(v.varValue)) for const in constraints]
        if v.varValue != 0:
            print(v.name, "=", v.varValue)
    print(div)
    print("Constraints:")
    for constraint in constraints:
        constraint_pretty = " + ".join(re.findall("[0-9\.]*\*1.0", constraint))
        if constraint_pretty != "":
            print("{} = {}".format(constraint_pretty, eval(constraint_pretty)))
    print(div)
    print("Score:")
    score_pretty = " + ".join(re.findall("[0-9\.]+\*1.0", score))
    print("{} = {}".format(score_pretty, eval(score)))

In [12]:
summary(prob)

Variables:

DE_DE01 = 1.0
KR_KR04 = 1.0
QB_QB01 = 1.0
QB_QB02 = 1.0
RB_RB29 = 1.0
RB_RB32 = 1.0
TE_TE09 = 1.0
TE_TE15 = 1.0
WR_WR01 = 1.0
WR_WR28 = 1.0
WR_WR35 = 1.0
WR_WR38 = 1.0
---------------------------------------

Constraints:
5*1.0 + 2*1.0 + 50*1.0 + 47*1.0 + 5*1.0 + 3*1.0 + 10*1.0 + 4*1.0 + 45*1.0 + 10*1.0 + 7*1.0 + 6*1.0 = 194.0
---------------------------------------

Score:
187.33*1.0 + 159.67*1.0 + 461.6*1.0 + 436.63*1.0 + 141.1*1.0 + 129.0*1.0 + 105.17*1.0 + 78.77*1.0 + 316.13*1.0 + 136.04*1.0 + 121.04*1.0 + 116.5*1.0 = 2388.98

In [ ]:
league_df

In [ ]:
league_df[league_df['Player']== 'Josh Allen']['position'].tolist()[0]